@charset "UTF-8";
/* 페이징 */
.arrows{
	margin-top:20px;
	font-size:13px;
	cursor:pointer;
	text-align: center;
	display: flex;
	justify-content: center
}
.pageNum{
	display:flex;
	margin: 0 10px;
}
.num{
	padding: 0 5px;
}
.point{
	color:var(--point-color);
}