<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.spring.board.model.repository.BoardRepository">
  
  <select id="selectBoardByPage" resultType="com.kh.spring.board.model.dto.BoardView">
  	select * 
  		from (select rownum N, B.*
  		from (select * from board order by reg_date desc) B)
  	where N between #{page.start} and #{page.end}
  </select>
  
  <select id="selectMyPost" resultType="com.kh.spring.board.model.dto.Board">
  	select * 
  		from (select rownum N, B.*
  		from (select * from board where user_id = #{writer.userId} order by reg_date desc) B)
  		where N between #{page.start} and #{page.end}
  </select>
  
  <select id="selectMyReply" resultType="com.kh.spring.board.model.dto.Reply">
  	select * 
  		from (select rownum N, B.*
  		from (select * from reply where user_id = #{writer.userId} order by reg_date desc) B)
  		where N between #{page.start} and #{page.end}
  </select>
  
  <select id="selectMySchedule" resultType="com.kh.spring.schedule.model.dto.Schedule">
  	select * from (select rownum rm, F.*
  		from (select * from schedule S
  			join participant_list L using(sc_idx)
  			join participant_history H using (pl_idx)
  				where H.user_id = #{parti.userId} order by d_day desc) F)
  			where RM between #{page.start} and #{page.end}  		
  </select>
  
  <select id="selectPrevIdx" resultType="string">
  	select bd_idx 
  		from (select bd_idx from board where reg_date <![CDATA[<]]>
  			(select reg_date from board where bd_idx = #{bdIdx}) order by reg_date desc)
  	where rownum = 1
  </select>
  <select id="selectNextIdx" resultType="string">
  	select bd_idx 
  		from (select bd_idx from board where reg_date >
  			(select reg_date from board where bd_idx = #{bdIdx}) order by reg_date)
  	where rownum = 1
  </select>
  </mapper>